*{
    font-family: 'Arial Nova', 'Arial';
}

.header{
    background-color: #FFFFFF   ;
}

.header_navbar{
    background-color: #FFFFFF   ;
}

.navbar .nav-item .dropdown-menu{ display: none; }
.navbar .nav-item:hover .nav-link{   }
.navbar .nav-item:hover .dropdown-menu{ display: block; }
.navbar .nav-item .dropdown-menu{ margin-top:0; }

.nav > li.dropdown.open .dropdown-menu {
    position: absolute;
}

.header_full_wrapper{
    max-height: 100vh;
    overflow: hidden;
    transition: max-height 500ms ease;
}

.header_full_wrapper_inactive{
    max-height: 0px;
    transition: max-height 500ms ease;
}

.header_icons{
    display: flex;
    flex-direction: row;
    width:70px;
    flex-wrap: nowrap;
}

.header_icon{
    width: 70px;
    border-radius: 50%;
    transition: 500ms;
    background-color: white;
}

.header_icon:hover{
    width: 70px;
    border-radius: 50%;
    transition: 500ms;
    background-color: white;
    filter: invert(1);
}

.menu_button{
    background-image: url(./images/menuButton.svg);
    background-repeat: no-repeat;
    background-position: center;
    object-fit:scale-down;
    width: 50px;
    height: 50px;
    border: #FFFFFF;
    background-color: #FFFFFF;
    transition: all 500ms;
}

.menu_button_cross{
    background-image: url(./images/Cross.svg);
    transition: all 500ms;
}

.header_button_wrapper {
    width: 146px;
    height: 40px;
}

.header_button{
    position: relative;
    width: 146px;
    height: 40px;
    background: #FEC110;
    border-radius: 7px;
    border: 0px;
    font-weight: 400;
    font-size: 13px;
    line-height: 125%;
    color: #2C2C2C;
    transition: all 500ms;
}

.header_button:hover{
    background-color: black;
    color: white;
}

.header_button_big{
    position: fixed;
    width: calc((100vw - 1320px)/2 + var(--bs-gutter-x) * .5 + 146px);
    height: 120px;
    top: 0;
    left: calc(100vw - (1320/2)px - var(--bs-gutter-x) * .5 - 146px);
    border-radius: 0px 0px 0px 14px;
    font-size: 16px;
    line-height: 125%;
}

.menu_items{
    list-style-type: none;
}

.menu_item{
    display: inline-block;
    
}

.menu_item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FEC110;
    transition: width 500ms;
}

.menu_item:hover::after {
    width: 100%;
}

.advantage_header{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C2C2C;
}

.advantage_header_add{
    color: #989898;
}

.main-screen_header{
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}

.main-screen_header_orange{
    color:   #FEC110;
}

.main-screen_block1{
    /*margin: 80px 0 40px 0;*/
}

.main-screen_block2{
    margin-bottom: 60px;
}

.main-screen_label{
    color: #989898;
    margin-bottom: 10px;
}
.main-screen_label_white{
    color: #FFFFFF; 
}
.main-screen_button-service{
    margin: 50px 0 60px 0;
}
.main-screen_button-service>button{
    background-color: #FEC110;
    border-radius: 7px;
    width: 233px;
    height: 60px;
}

.main-screen .carousel .carousel-control {
    position: relative;
    top: 0;
    left: 0;
}

.main-screen .carousel .carousel-control-prev,
.main-screen .carousel .carousel-control-next {
    position: relative;
    display: inline-block;
    background-color: #FEC110;
    color: black;
    opacity: 1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
}

.main-screen .carousel .carousel-indicators {
    position: relative;
    display: inline-block;
}

.main-screen .carousel .carousel-indicators li {
    background-color: transparent;
    display: none;
}

.main-screen .carousel .carousel-indicators li.active {
    display: inline;
}



.col-stretch {
width: 50vw;
}

.page {
    background-color: #E4E4E4;
}

.advantage_main{
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #2C2C2C;
}

.advantage_main_work{
    font-weight: 400;
    font-size: 90px;
    line-height: 90%;
    letter-spacing: -0.04em;
    color: #FEC110;
}

.services_header {
    font-style: normal;
    font-weight: 400;
    font-size: 67px;
    line-height: 95%;
}

.services_image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.services_block_info{
    background-color: #FFFFFF;
    transition: all 0.5s;
}

.services_block:hover .services_block_info{
    background-color: #FEC110;
}

.services_label{
    margin: 40px;
}

.services_label_p{
    margin: 0;
    padding: 0;
}

.services_label_name{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #2C2C2C;
}

.services_label_number{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: right;
    letter-spacing: -0.01em;
    color: #989898;
    transition: all 0.5s;
}

.services_block:hover .services_label_number{
    color: #FFFFFF;
}

.services_button{
    border-radius: 50%;
    background-color: #FEC110;
    border: 0;
    width: 40px;
    height: 40px;
    margin-top: 45px;
    margin-right: 40px;
    margin-bottom: 45px;
}

.services_block:hover .services_button{
    background-color: black;
    color: #FFFFFF;
    cursor: auto;
}

.services_maintext{
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #2C2C2C;
}

.services_secondarytext{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #2C2C2C;
}

.thesis_icon{
    max-width: 45px;
    max-height: 55px;
}
.thesis_icon>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.thesis_label{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #2C2C2C;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.autologotypes_header{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #989898;
}

.autologotypes>img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.promos_header{
    font-weight: 400;
    font-size: 67px;
    line-height: 95%;
    letter-spacing: -0.03em;
    color: #2C2C2C;
}

.promos_maintext{
    font-weight: 400;
    font-size: 51px;
    line-height: 105%;
    letter-spacing: -0.02em;
    color: #2C2C2C;
}

.promos_data{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #989898;
}

.promos_moreinfo{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #2C2C2C;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.user_point{
    font-weight: 400;
    font-size: 90px;
    line-height: 90%;
    letter-spacing: -0.04em;
    color: #FEC110;
}

.user_point_label{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    text-align: right;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #989898;
}

.user_review{
    display: flex;
    flex-direction: row;
}

.user_review_info_login{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.user_review_info_date{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #989898;
}

.user_review_text{
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.map {
    background-color: #FFFFFF;
}
.map_container{
    transform: translateY(-50%);
}

.map_text{
    font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


/* Label/Tertiary */

color: #FFFFFF;
}

.map_text_mail{
    color: #FEC110;
}

.map_button{
    width: 229px;
    height: 60px;
    background: #FEC110;
    border-radius: 7px;
    transition: all 500ms;
    border: 0px;
}

.map_button:hover{
    color: black;
    background: white;
    cursor: auto;
}

.request{
    background-image: url(./images/Request.jpg);
    background-size: cover;
    height: 690px;
}

.request_consult{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF
}

.request_maintext{
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #FFFFFF;
}

.request_button{
    width: 229px;
    height: 60px;
    background: #FEC110;
    border-radius: 7px;
    transition: all 500ms;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: #2C2C2C;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.request_button:hover{
    color: black;
    background: white;
}

.gray-vr{
    opacity: 1;
    color: white;
}

.bright-white-hr {
    opacity: 1;
    color: white;
}
.text-bg-orange{
    background-color: #FEC110;
}

.application_header{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #2C2C2C;
}

.application_list{
    list-style: none;
}

.application_list_text{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #2C2C2C;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.application_list li:before {
    content: '✓';
  }
.applcations_logos{
    padding-top: 15%;
}

.footer_icons{
    display: flex;
    flex-direction: row;
    width:70px;
    flex-wrap: nowrap;
}

.footer_icon{
    width: 70px;
    border-radius: 50%;
    transition: 500ms;
    background-color: #313232;
}

.footer_icon:hover{
    width: 70px;
    border-radius: 50%;
    filter: invert(1);
    transition: 500ms;
    background-color: black;
}

.footer_menu {
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
}

.footer_menu > li {
    display: inline;
    padding-right: 20px;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_header_add{
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: #989898;
}

.footer_menu>li:last-child{
    padding-right: 0;
}

.arrow-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    display: inline-block;
    background-image: url(./images/ArrowDiagonal.svg);
    background-size: cover;
}

.section-gray{
    background-color: #313232;
    color: #FFFFFF;
}

.footer_container{
    padding-top: 67.5px;
    padding-bottom: 40px;
}

.footer_container_row1{
    padding-bottom: 47.5px;
}

.footer_container_mail{
    color: #FEC110;
    font-size: 21px;
}

.footer_items{
    list-style-type: none;
    padding: 0;
}

.footer_item{
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_item::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #FEC110;
    transition: width 500ms;
}

.footer_item:hover::after {
    width: 100%;
}

.footer_container_schedule{
    font-size: 16px;
    color: #989898;
}
.footer_container_button{
    font-size: 16px;
    border-radius: 7px;
    width: 220px;
    height: 50px;
    transition: all 500ms ease-out 0ms;
}

.footer_container_button:hover{
    cursor: auto;
    background-color: white;
    color: black;
    border-color: #FFFFFF;
}

.footer_container_button_callback{
    background-color: #FEC110;
    color: #2C2C2C;
}

.footer_container_button_qa{
    background-color: #313232;
    color: #FFFFFF;
    border-color: #FEC110;
}

.footer_address_header{
    font-weight: 700;
    font-size: 12px;
    line-height: 200%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.footer_address_text{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #989898;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer_text_design{
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #989898;
}

.footer_text_design_white{
    color: #FFFFFF;
}

.popup{
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 100vh;
    background: rgba(0,0,0,0);
    transition: background 1s ease-in-out 0s, width 0s ease-in-out 1s;
}

.popup_active{
    background: rgba(0,0,0,0.8);
    width: 100vw;
    transition: background 1s ease-in-out 0s, width 0s ease-in-out 0s;
}

.appointment_form_wrapper{
    position: absolute;
    right: -70vw;
    transition: all 1.2s;
}

.appointment_form_wrapper_active{
    right: 0;
}

.appointment_popup_close_btn{
    position: absolute;
    width: 100px;
    right: 50vw;
}

.appointment_form{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
}

.validation_error_label{
    display: none;
} 

.validation_error_label_active {
    display: block;
}
